#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.toolbar {
  height: 84px;
  --background: #115173;
  color: #fff;
  line-height: 84px;
}

.container {
  ion-thumbnail {
    width: 100px;
    height: 100px;
    img {
      border-radius: 7px;
    }
  }
  ion-label {
    h2 {
      span {
        float: right;
        color: #115173;
        font-weight: 600;
      }
    }
    h3 {
      ion-icon {
        color: #FFD700;
        margin-right: 10px;
      }
    }

    .quantity {
      margin-top: 5px;

      .minus, .plus {
        font-weight: 600;
        padding: 5px;
      }

      .minus {
        margin-right: 12px;
      }

      .plus {
        margin-left: 12px;
      }

      .btn {
        float: right;

        .btn-add {
          padding: 10px 20px;
          color: #fff;
          background-color: #115173;
        }
      }


    }
  }
}