<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="http://bk-latam-prod.s3.amazonaws.com/sites/burgerking.com.pe/files/BK_Web_MegaStackerX2_500x540.png">
              </ion-thumbnail>
              <ion-label>
                <h2>Royal Hamburger <span>S/. 15.50</span></h2>
                <h3>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </h3>
                <p>Rate this product</p>
                <div class="quantity">
                  <span class="minus"> - </span>
                  1
                  <span class="plus"> + </span>
                  <span class="btn"><button class="btn-add">Add</button></span>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="http://bk-latam-prod.s3.amazonaws.com/sites/burgerking.com.pe/files/BK_Web_WhopperJr_500x540.png">
              </ion-thumbnail>
              <ion-label>
                <h2>Whopper Hamburger <span>S/. 15.50</span></h2>
                <h3>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </h3>
                <p>Rate this product</p>
                <div class="quantity">
                  <span class="minus"> - </span>
                  1
                  <span class="plus"> + </span>
                  <span class="btn"><button class="btn-add">Add</button></span>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
